<a href="https://colab.research.google.com/github/ahnjihyun/COVID-19-Infection-pattern/blob/master/n121a_hypothesis_test_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# üìù Assignment

## 1. 1-Sample T-tests Ïó∞Ïäµ
‚òÖ1Í∞úÏùò sample Í∞íÎì§Ïùò **ÌèâÍ∑†**Ïù¥ **ÌäπÏ†ïÍ∞í**Í≥º ÎèôÏùºÌïúÏßÄ ÎπÑÍµê

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ÏÑúÏö∏Ïãú Í∞ÄÎ°úÏàò Îç∞Ïù¥ÌÑ∞ÏÖã](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [ ]:
import pandas as pd
from scipy import stats
import numpy as np

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep='\t', skiprows=1)
# Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥ ('-' > '0')
trees = trees.replace({'-':0})
trees.head()

     Í∏∞Í∞Ñ  ÏûêÏπòÍµ¨    ÎÖ∏ÏÑ†Ïàò       ÏàòÎüâ     ÏùÄÌñâÎÇòÎ¨¥  ...    Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†®    Ïù¥ÌåùÎÇòÎ¨¥      Í∏∞ÌÉÄ
0  2019  ÏÑúÏö∏Ïãú  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  Ï¢ÖÎ°úÍµ¨     70    7,329    4,072  ...      0    239    0     711      29
2  2019   Ï§ëÍµ¨     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  Ïö©ÏÇ∞Íµ¨     39    7,835    4,444  ...      0     51  126     198     780
4  2019  ÏÑ±ÎèôÍµ¨     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

**ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑†Ï†ÅÏúºÎ°ú ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò `Ïù¥ÌåùÎÇòÎ¨¥`Í∞Ä ÏûàÎã§** ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

In [ ]:
## Ïù¥ÌåùÎÇòÎ¨¥ columnÏùò ÌèâÍ∑† Íµ¨ÌïòÍ≥† 400Í≥º Í∞ôÎã§/ÏïÑÎãàÎã§ Í∞ÄÏÑ§Í≤ÄÏ†ï

# Ïù¥ÌåùÎÇòÎ¨¥ ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑†Îüâ
t1 = pd.to_numeric(trees['Ïù¥ÌåùÎÇòÎ¨¥'].str.replace(',', '')) 
# [ÏÑúÏö∏Ïãú, Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå, ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®] Îç∞Ïù¥ÌÑ∞ Ï†úÏô∏
t1 = t1.drop([0,26,27],0)
m1 = t1.mean()
# m1 == 688.64

# Ìïú ÏßëÎã® ÌèâÍ∑† Í∞êÏ†ï
result = stats.ttest_1samp(t1, 400)
# Îç∞Ïù¥ÌÑ∞ ÏßëÎã®Ïùò ÌèâÍ∑†Í≥º Í±∞Î¶¨Í∞Ä Î©ÄÏàòÎ°ù p-value Í∞íÏù¥ ÎÇÆÏïÑÏßê
print('T-test ÌÜµÍ≥ÑÎüâ = %.3f, P-value = %.3f'%(result))

''' 
<Í≤∞Î°†> 
p-valueÍ∞Ä 0.002ÏûÑÏùÑ Î≥¥ÏïÑ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ïò≥ÏùÑ ÌôïÎ•†Ïù¥ 0.2%Ïù¥Îã§
=> Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ ÌãÄÎ†∏Îã§
=> Ï¶â ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨ÎßàÎã§ ÌèâÍ∑†Ï†ÅÏúºÎ°ú ÏïΩ 400Í∑∏Î£®Ïùò Ïù¥ÌåùÎÇòÎ¨¥Í∞Ä ÏûàÏßÄ ÏïäÎã§.
'''
print('ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† Ïù¥ÌåùÎÇòÎ¨¥ Ïàò :%d'%(m1))

T-test ÌÜµÍ≥ÑÎüâ = 3.381, P-value = 0.002
ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† Ïù¥ÌåùÎÇòÎ¨¥ Ïàò :688

Ïù¥Î≤àÏóêÎäî 10Í∞úÏùò Íµ¨Î•º ÏÉòÌîåÎßÅÌïòÏó¨, ÏúÑÏóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ Îã§Ïãú ÌïúÎ≤à ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî. 

Îã®, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ sample ÏùÑ ÏúÑÌïú seed Îäî 123ÏúºÎ°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.

```python
np.random.seed(123)
np.random.choice( ,size = 10) 
```

In [ ]:
# T-testÎ•º Ìï†Îïå ÏÉòÌîåÎßÅ ÏÇ¨Ïù¥Ï¶àÍ∞Ä ÏòÅÌñ•ÏùÑ Ï£ºÎäî Í≤ÉÏùÑ ÌôïÏù∏ÌïòÎäîÍ≤å Ï£º Î™©Ï†Å
np.random.seed(123)
sample10 = np.random.choice(t1, size=10)
s1 = sample10.mean()
# s1 == 479.7

result2 = stats.ttest_1samp(sample10, 400)
print('T-test ÌÜµÍ≥ÑÎüâ = %.3f, P-value = %.3f'%(result2))

''' 
<Í≤∞Î°†> 
p-valueÍ∞Ä ÏïΩ 0.5ÏûÑÏùÑ Î≥¥ÏïÑ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ïò≥ÏùÑ ÌôïÎ•†Ïù¥ 50%Ïù¥Îã§
=> Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏùÄ ÌãÄÎ¶¨ÏßÄ ÏïäÏïòÎã§ 
=> ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨ÎßàÎã§ ÌèâÍ∑†Ï†ÅÏúºÎ°ú ÏïΩ 400Í∑∏Î£®Ïùò Ïù¥ÌåùÎÇòÎ¨¥Í∞Ä ÏûàÎã§ (Ïù¥ sampleÏóê ÌïúÌï¥ÏÑú)
'''
print('sample10 ÏßëÎã®ÏóêÏÑú ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† Ïù¥ÌåùÎÇòÎ¨¥ Ïàò :%d'%(s1))

T-test ÌÜµÍ≥ÑÎüâ = 0.707, P-value = 0.498
sample10 ÏßëÎã®ÏóêÏÑú ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† Ïù¥ÌåùÎÇòÎ¨¥ Ïàò :479

Ïôú Îëê t-testÏùò Í≤∞Î°†Ïù¥, ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞ÏÖãÏûÑÏóêÎèÑ Î∂àÍµ¨ÌïòÍ≥† Îã§Î•∏ Í≤∞Î°†Ïù¥ ÎÇòÏôîÎÇòÏöî?

In [ ]:
# ÏúÑÏóêÏÑú TÍ∞íÍ≥º p-valueÍ∞íÏù¥ Îã§Î•∏ Ïù¥Ïú†?
''' 
sample sizeÍ∞Ä Îã§Î•¥Í∏∞ÎïåÎ¨∏Ïóê Í∞íÏù¥ Îã§Î•¥Í≤å ÎÇòÏò®Îã§.
'''

## 2. 2-Sample T-tests Ïó∞Ïäµ
‚òÖ 2Í∞úÏùò sample Í∞íÎì§Ïùò **ÌèâÍ∑†**Ïù¥ ÏÑúÎ°ú ÎèôÏùºÌïúÏßÄ ÎπÑÍµê

**ÏÑúÏö∏ÏãúÏùò Íµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÏôÄ ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§** ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

In [ ]:
# ÎäêÌã∞ÎÇòÎ¨¥ t2
t2 = pd.to_numeric(trees['ÎäêÌã∞ÎÇòÎ¨¥'].str.replace(',', '')) 
t2 = t2.drop([0,26,27],0)

# ÏôïÎ≤öÎÇòÎ¨¥ t3
t3 = pd.to_numeric(trees['ÏôïÎ≤öÎÇòÎ¨¥'].str.replace(',', '')) 
t3 = t3.drop([0,26,27],0)

# Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥, ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§(ÎèôÏùºÌïòÎã§)
# ÎåÄÏ≤¥Í∞ÄÏÑ§: ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥, ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Îã§Î•¥Îã§

# Îëê ÏßëÎã® ÌèâÍ∑† Í∞êÏ†ï(independent)
result3 = stats.ttest_ind(t2,t3) 
# Îç∞Ïù¥ÌÑ∞ ÏßëÎã®Ïùò ÌèâÍ∑†ÎÅºÎ¶¨ Í±∞Î¶¨Í∞Ä Î©ÄÏàòÎ°ù p-value Í∞íÏù¥ ÎÇÆÏïÑÏßê
print('T-test ÌÜµÍ≥ÑÎüâ = %.3f, P-value = %.3f'%(result3));


#<Í≤∞Î°†> 
#p-valueÍ∞Ä 0.65ÏûÑÏùÑ Î≥¥ÏïÑ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ïò≥ÏùÑ ÌôïÎ•†Ïù¥ 65%Ïù¥Îã§
#=> Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ ÎßûÎã§
#=> Ï¶â ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥, ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Îß§Ïö∞ ÎπÑÏä∑ÌïòÎã§Í≥† Î≥º Ïàò ÏûàÎã§
m2 = t2.mean()
m3 = t3.mean()
print('ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥, ÏôïÎ≤öÎÇòÎ¨¥ Ïàò :%d, %d'%(m2, m3))

T-test ÌÜµÍ≥ÑÎüâ = 0.463, P-value = 0.646
ÏÑúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥, ÏôïÎ≤öÎÇòÎ¨¥ Ïàò :1415, 1292


Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî.
<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

One-tailed testÎ•º ÏÇ¨Ïö©ÌïòÏó¨ **ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ ÏàòÎ≥¥Îã§ ÌÅ¨Îã§**ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

In [ ]:
# two-sample one-tailed t-test : Îëê ÏßëÎã®Ïùò Í∞Å ÌèâÍ∑†Í∞íÏù¥ ÌÅ¨Îã§/ÏûëÎã§Î•º Í≤ÄÏ¶ù
# Ï†ÑÏ≤¥ Íµ¨Ïóê ÎåÄÌï¥ "ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÌèâÍ∑†Ïù¥ ÏôïÎ≤öÎÇòÎ¨¥Î≥¥Îã§ ÌÅ¨Îã§"ÎùºÎäî Í∞ÄÏÑ§ Í≤ÄÏ†ï ÌïòÍ∏∞

# Í∑ÄÎ¨¥Í∞ÄÏÑ§: ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥Î≥¥Îã§ ÌÅ¨Îã§
# ÎåÄÏ≤¥Í∞ÄÏÑ§: ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥Î≥¥Îã§ ÏûëÎã§

print(m2,m3)
# m2 > m3 ÏûÑÏùÑ ÌôïÏù∏
# Í∑ÄÎ¨¥Í∞ÄÏÑ§ H0: A <= B
# ÎåÄÏ≤¥Í∞ÄÏÑ§ H1: A > B

# two-tailed t-test : t2.mean()-t3.mean()
t_v, p_v = stats.ttest_ind(t2, t3) 
print('T-test ÌÜµÍ≥ÑÎüâ = %.3f, P-value = %.3f'%(result3));

# one-tailed t-testÎ•º ÌïòÎ†§Î©¥ p_v/2
# Îç∞Ïù¥ÌÑ∞ ÏßëÎã®Ïùò ÌèâÍ∑†ÎÅºÎ¶¨ Í±∞Î¶¨Í∞Ä Î©ÄÏàòÎ°ù p-value Í∞íÏù¥ ÎÇÆÏïÑÏßê
p = round(p_v, 2)/2
print(p)

#<Í≤∞Î°†> 
#p-valueÍ∞Ä 0.33ÏûÑÏùÑ Î≥¥ÏïÑ Í∑ÄÎ¨¥Í∞ÄÏÑ§Ïù¥ Ïò≥ÏùÑ ÌôïÎ•†Ïù¥ 33%Ïù¥Îã§
#=> Í∑ÄÎ¨¥Í∞ÄÏÑ§ÏßÄÏùÄ ÌãÄÎ¶¨ÏßÄ ÏïäÏïòÎã§
#=> Ï¶â ÏãúÏö∏Ïãú ÏûêÏπòÍµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥Î≥¥Îã§ ÌÅ¨Îã§(ÎßéÎã§)

1415.12 1292.0
T-test ÌÜµÍ≥ÑÎüâ = 0.463, P-value = 0.646
0.325

## üî• **ÎèÑÏ†ÑÍ≥ºÏ†ú**

ÏïÑÎûò ÏÑ∏Í∞ÄÏßÄÏ§ë ÌïúÍ∞ÄÏßÄÎ•º ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1) Ìï®ÏàòÏôÄ Î∞òÎ≥µÎ¨∏ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ (for loop, .apply(), list Îì±Îì±) Ï¢ÖÎ°úÍµ¨ vs Îã§Î•∏ Î™®Îì† ÏûêÏπòÍµ¨Ïóê ÎåÄÌï¥ÏÑú two-sample t-testÎ•º ÏãúÌñâÌïòÏÑ∏Ïöî.

### 2) multiple-sample t-test
 

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. <https://reneshbedre.github.io/blog/anova.html>

Íµ¨Î≥Ñ, ÏùÄÌñâÎÇòÎ¨¥, ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, ÎäêÌã∞ÎÇòÎ¨¥Ïóê ÎåÄÌï¥ÏÑú ANOVA TestÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

### 3) ÏÑ∏ÏÖò ÏãúÍ∞ÑÏóê Î∞∞Ïõ†Îçò 4Í∞ÄÏßÄ sample Î∞©ÏãùÏùÑ Íµ¨ÌòÑÌï¥Î≥¥ÏÑ∏Ïöî.

Ïù¥Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî 1 Î∂ÄÌÑ∞ 100 Ïù¥Î©∞, samplingÌï¥Ïïº ÌïòÎäî ÏàòÎäî 20Í∞ú ÏûÖÎãàÎã§.

- Stratified random samplingÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 1-10, 11-20, ... Í≥º Í∞ôÏùÄ Î∞©ÏãùÏûÖÎãàÎã§.

- Cluster sampling ÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎà¥ÏùÑÎïåÏùò ÎÇòÎ®∏ÏßÄ Í∞íÏûÖÎãàÎã§. (0,1,2,3,4)